body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #000000;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* resets */
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}
