.container {
  margin: 0 auto;
  
  @media screen and (min-width: 320px) {
    width: 290px;
    padding-left: 5px;
   padding-right: 5px;
  }

  @media screen and (min-width: 768px) {
    width: 628px;
  }
  
  @media screen and (min-width: 1024px) {
    width: 892px;
 
  }
}
