<button id="modal-btn" data-id="566525"> click me</button>
<div class="modal">
    <div class="modal_wrapper">
           <button type="button" class="close-btn">
              <svg class="close-btn__icon">
                  <use href="./images/card-modal/sprite.svg#icon-cross"></use>
              </svg>
           </button>
        <div class="modal_content">
             <div class="poster">
                <picture>
                    <source media="(min-width: 1024px)"
                        srcset="./images/card-modal/photo_1024.jpg 1x" class="large">
                    <source media="(min-width: 768px)"
                        srcset="./images/card-modal/photo_768.jpg 1x" class="medium"> 
                    <source media="(min-width: 320px)"
                        srcset="./images/card-modal/photo_320.jpg 1x" class="small">
                    <img src="./images/card-modal/photo_1024.jpg" alt="movie's poster">
                </picture>
             </div>
             <div class="content">
                <h2 class="film_title"></h2>
                    <div class="title-position">
                        <ul class="title_list_position">
                            <li class="title_item"><span class="title_list_value a">Vote / Votes</span><span class="contents_value"><span class="highlight vote_average"></span> / <span class="highlight_all vote_count"></span></span></li>
                            <li class="title_item"><span class="title_list_value b">Popularity</span><span class="contents_value popularity"></span></li>
                            <li class="title_item"><span class="title_list_value c">Original Title</span><p class="contents_value original_title"></p></li>
                            <li class="title_item"><span class="title_list_value d">Genre</span><span class="contents_value genres"></span></li>
                          <!-- <li class="title_list_value">Vote / Votes</li>
                          <li class="title_list_value">Popularity</li>
                          <li class="title_list_value">Original Title</li>
                          <li class="title_list_value">Genre</li> -->
                        </ul>                       
                        <!-- <ul>
                           <li class="contents_value"><span class="highlight vote_average"></span> / <span class="highlight_all vote_count"></span></li>
                           <li class="contents_value popularity"></li>
                           <li class="contents_value original_title"></li>
                           <li class="contents_value genres"></li>
                        </ul> -->                   
                    </div>
                      <h3 class="description_title">About</h3>
                      <p class="description"></p>
                    <button class="modal_card_btn is-active wached">ADD TO WACHED</button>
                    <button class="modal_card_btn queue">ADD TO QUEUE</button>
             </div>
        </div>
    </div>
</div>
