<footer class="footer">
    <div class="container">
        <div class="footer__text-wrapper">
            <p class="footer-text footer__text-position">© 2021 | All Rights Reserved | </p>
            <p class="footer-text footer__text-position">Developed with
             <svg width="14" height="12" class="footer__text-svg">
                <use href="./img/footer/footer-icons.svg#heart-icon"></use>
            </svg> by
                <a class="footer__link js-footer-text-link" data-modal-footer="open" href="#">GoIT Students</a>
            </p>
        </div>
        </div>
</footer>