<div id="sign-up" class="modal-form">
  <form id="sign-up__form" class="flex-container" action="">
    <label class="label" for="sign-up__email">Email address</label>
    <input type="email" class="input" id="sign-up__email" required />

    <label class="label" for="sign-up__password">Enter password</label>
    <input type="password" class="input" id="sign-up__password" required />

    <button type="submit" class="sign-up__button">Sign Up!</button>
  </form>
  <span class="sign-up__close"><a href="#">x</a></span>
</div>

<div id="sign-in" class="modal-form container">
  <form id="sign-in__form" class="flex-container" action="">
    <label class="label" for="sign-in__email">Email address</label>
    <input type="email" class="input" id="sign-in__email" required />

    <label class="label" for="sign-in__password">Enter password</label>
    <input type="password" class="input" id="sign-in__password" required />

    <button type="submit" class="sign-in__button">Sign Up!</button>
  </form>
  <span class="sign-in__close"><a href="#">x</a></span>
</div>
