<div id="sign-up" class="backdrop is-hidden">
  <form id="sign-up__form" class="flex-container" action="">
    <label class="label" for="sign-up__email"></label>
    <input type="email" class="input" id="sign-up__email" placeholder="Enter email" required />

    <label class="label" for="sign-up__password"></label>
    <input
      autocomplete=""
      type="password"
      class="input"
      id="sign-up__password"
      placeholder="Create password"
      minlength="6"
      required
    />

    <button type="submit" class="form-button">Sign Up!</button>
    <span class="sign-up__close"
      ><a href="#"
        ><svg class="close-symbol" width="32" height="32">
          <use href="./img/header/symbol-defs.svg#icon-close"></use></svg
      ></a>
    </span>
  </form>
</div>

<div id="sign-in" class="backdrop is-hidden">
  <form id="sign-in__form" class="flex-container" action="">
    <label class="label" for="sign-in__email"></label>
    <input type="email" class="input" id="sign-in__email" placeholder="Enter email" required />

    <label class="label" for="sign-in__password"></label>
    <input
      autocomplete=""
      type="password"
      class="input"
      id="sign-in__password"
      placeholder="Enter password"
      minlength="6"
      required
    />

    <button type="submit" class="form-button">Sign In!</button>
    <span class="sign-in__close"
      ><a href="#"
        ><svg class="close-symbol" width="32" height="32">
          <use href="./img/header/symbol-defs.svg#icon-close"></use></svg
      ></a>
    </span>
  </form>
</div>
