<section class="gallery">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link">
          <div class="gallery-img"></div>
        </a>
      </li>
    </ul>
  </div>
</section>
