<header class="header">
  <div class="container">
    <div class="flex-wrapper">
      <div class="logo">
        <svg class="logo__icon">
          <use href="./img/header/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="app-name">Filmoteka</span>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <a href="" class="nav__link"><li class="nav__item">HOME</li></a>
          <a href="" class="nav__link"><li class="nav__item">MY LIBRARY</li></a>
        </ul>
      </nav>
    </div>
  </div>
</header>
