<!-- <div class="backdrop is-hidden" >
    <div class="footer__modal">
        <button type="button" class="footer__close-btn">
            <svg class="footer__close-btn-svg" width="18" height="18">
                <use href="#"> </use>
            </svg>
        </button>
        <div class="footer__team-container">
            <h2 class="footer__team-title">Our Team</h2>
            <ul class="footer__team-list">
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
                <li class="footer__team-member">
                    <picture>
                        <source srcset="#" media='(min-width: 1024px)' />
                        <source srcset="#" media='(min-width: 768px)' />
                        <source srcset="#" media='(min-width: 320px)' />
                        <img src="#" alt='Team member photo' class='footer__team-member-photo' />
                    </picture>
                    <div class="footer__team-member-container">
                        <h3 class="footer__team-member-name">Name</h3>
                        <p class="footer__team-member-info">Info</p>
                    </div>
                </li>
            </ul>
        </div>

        

    </div>
</div> -->