html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.position-up { 
position: relative;
}

.arrow-up {
    position: fixed;
    bottom: 45vh;
    right: 2vw;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 145, 0);
    width: 30px;
    height: 30px;
    -webkit-background-size: 300%;
    background-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        right: 1%;
        width: 60px;
        height: 60px;
    }
}

.arrow-up:hover {
    color: rgb(32, 32, 32);
    background-color: rgb(255, 145, 0);
}

.isShowBtn {
    opacity: 0;
    transition: .5s;

    &_show {
        opacity: 1;
        transition: .5s;
    }

    &_hide {
        opacity: 0;
        transition: .5s;
    }
}