html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.arrow-up {
    position: fixed;
    bottom: 10%;
    right: 5%;
    background-color: rgb(66, 65, 65);
    color: rgb(255, 145, 0);
    width: 60px;
    height: 60px;
    -webkit-background-size: 300%;
    background-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;
    border-radius: 5px;
}

.arrow-up:hover {
    // background-position: 100% 0;
    color: rgb(66, 65, 65);
    background-color: rgb(255, 145, 0);
}

.isShowBtn {
    opacity: 0;
    transition: .5s;

    &_show {
        opacity: 1;
    }

    &_hide {
        opacity: 0;
    }
}

// .isHideBtn {
//     opacity: 0;
//     transition: .5s;
// }

// .isShowBtn {
//     opacity: 1;
// }