.card {
  max-width: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    max-width: 294px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 274px;
  }
}
.card__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.card__wrapper-img {
  height: 440px;
  width: 100%;
  // background-size: contain;
}
.card__img {
  height: 100%;
  width: auto;
  border-radius: 5px;
  overflow: hidden;
}
.card__wrapper {
  padding: 10px 3px 3px;
}
.card__title {
  font-size: inherit;
  color: #000000;
  text-transform: uppercase;
}
.card__info {
  color: var(--active-btn-color);
}
.card__info-genre {
  word-wrap: break-word;
}
.card__info-vote {
  width: 36px;
  height: 15px;
  line-height: 1.67;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
}
