.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.footer__modal {
  background-image: linear-gradient(
    to top,
    #f9cdac,
    #f0caae,
    #e7c8b1,
    #ddc5b3,
    #d4c2b5,
    #d6c4bd,
    #d6c8c4,
    #d5cbca,
    #ddd6d7,
    #e5e1e3,
    #eeedee,
    #f8f8f8
  );
  position: absolute;
  left: 50%;
  top: 0;
  width: 280px;
  transform: translate(-50%) scale(1);
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  border-radius: 3px;
  @media screen and (min-width: 768px) {
    width: 600px;
  }
  @media screen and (min-width: 1024px) {
    background-color: #ffff;
    background-image: url(../img/footer/team-illustration-bg.jpg);
    background-repeat: no-repeat;
    background-size: 320px 350px;
    background-position: 410px 1200px;
    width: 800px;
  }
}

.footer__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ff6b08;
  }
}
// flip card
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 210px;
  height: 350px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 5px rgba(204, 88, 71, 0.2);
  &:hover,
  &:focus {
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.5);
  }
}

.flip-card-front {
  background-color: #ffff;
}

.flip-card-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

// team

.footer__team-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 3px 4px 5px #ce5937;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 24px;
  }
}
.footer__team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
    padding: 0;
  }
  @media screen and (min-width: 1024px) {
    margin-left: -20px;
    margin-top: -20px;
  }
}
.footer__team-member {
  background: #ffff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 5px rgba(204, 88, 71, 0.2);
  margin-bottom: 10px;
  &:hover,
  &:focus {
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.5);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
}
.footer__team-member-photo {
  border-radius: 8px;
}

.footer__team-member-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer__team-member-name {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.footer__team-member-info {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

// social links
.footer__social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 100%;
}
.footer__social-links-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-links-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: #ff6b08;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
