#sign-up {
  display: none;
}
#sign-in {
  display: none;
}
.flex-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.input {
  &:not(:first-child) {
    margin-top: 20px;
  }
}
.label {
}
.sign-up__close,
.sign-in__close {
  position: absolute;
  top: -15px;
  right: 43%;

  padding: 10px;
  font-weight: bolder;
  font-size: 2rem;
}
.form-button {
  margin-top: 20px;
  padding: 15px;
  border-radius: 30px;
  background-color: rgba($color: #3575aa, $alpha: 0.8);
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #87df15, $alpha: 0.8);
  }
}
.close-symbol {
  color: #f30d0d;
}
