body.light-theme {
    background-color: #faf9dd;
    color: rgb(10, 6, 6);
}
  
body.dark-theme {
    background-color: rgb(10, 6, 6);;
    .card__title {
        color: rgb(255, 255, 255);
    }

    .footer__modal {
        background-image: linear-gradient(
            to top,
            #030201,
            #130902,
            #140901,
        );
        @media screen and (min-width: 1024px) {
          background-color: rgb(10, 6, 6);
          background-image: url(../img/footer/team-illustration-bg-dark.jpg);
        }
    }

    .footer__team-title {
        color: white;
    }

    .modal_wrapper {
        background-color: rgb(10, 6, 6);
        color: rgb(255, 255, 255);
    }

    .close-btn__icon {
        fill: rgb(255, 255, 255);
    }

    .contents_value {
        color:  rgb(255, 255, 255);
    }
    
    .highlight_all {
        background-color: rgb(10, 6, 6);
    }
}

  
.toolbar {
    position: absolute;
    top: 15px;
    right: 15px;
}
  
.theme-switch {
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
  
.theme-switch__icon {
    color: currentColor;
    height: 17px;
    width: 17px;
    margin-right: 6px;
    margin-left: 6px;
}
  
.theme-switch__control {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    width: 50px;
    height: 20px;
    border-radius: 50em;
    padding: 3px 0;
}
  
.theme-switch__toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}
  
.theme-switch__track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    background-color: #333;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
}
  
.theme-switch__marker {
    position: relative;
    background-color: #fff;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateX(3px);
    transition: transform 250ms var(--timing-function);
}
  
.theme-switch__toggle:checked + .theme-switch__track {
    background-color: #9c9c9c;
}
  
.theme-switch__toggle:checked ~ .theme-switch__marker {
    transform: translateX(28px);
}