.auth {
  padding-top: 30px;
}
.auth__nav-list {
  display: flex;
  justify-content: flex-end;
}
.auth__nav-item {
  &:not(:first-child) {
    margin-left: 40px;
  }
}
.auth__nav-link {
  padding: 10px 0px;
  color: var(--header-text-color);
  &:hover,
  &:focus {
    color: #000000;
    border-radius: 20%;
    background-color: var(--active-btn-color);
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}
.auth__nav-list {
}
.logout-menu {
}
#logout-trigger {
}
