:root {
  --modal-bg-color: #ffffff;
  --text-color: #000000;
  --active-color: #ff6b01;
  --modal-font-weight: 500;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_wrapper {
  position: absolute;
  background-color: var(--modal-bg-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 618px;
  height: 562px;
  padding: 42px 28px 40px 28px;

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 100%;
    padding: 48px 20px 40px 20px;
    overflow-y: auto;
  }
}

.modal_content {
  word-wrap: break-word;

  @media screen and (min-width: 768px) {
    display: flex;
    word-wrap: break-word;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    word-wrap: break-word;
  }
}

.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.close-btn:hover .close-btn:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.close-btn__icon {
  width: 14px;
  height: 14px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .close-btn:focus &,
  .close-btn:hover & {
    fill: var(--active-color);
  }
}

.poster {
  max-width: 100%;
  margin-right: 30px;

  @media screen and (max-width: 768px) {
    width: 240px;
    height: 356px;
    margin-bottom: 30px;
  }
}

.content {
  width: 240px;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 267px;
  }

  @media screen and (min-width: 1024px) {
    width: 395px;
  }
}

.title-position {
  display: flex;
}

.title_list_position {
  margin-right: 39px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-right: 40px;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 85px;
  }
}

.film_title {
  font-weight: var(--modal-font-weight);
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 1.15;
    color: var(--text-color);
    text-transform: uppercase;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.title_list_value {
  font-weight: var(--modal-font-weight);
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.title_list_value:not(:last-child) {
  margin-bottom: 10px;
}

.contents_value {
  font-weight: var(--modal-font-weight);
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color);
}

.contents_value:not(:last-child) {
  margin-bottom: 12px;
}

.descreption_title {
  text-transform: uppercase;
  font-weight: var(--modal-font-weight);
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 10px;
}

.descreption {
  font-weight: var(--modal-font-weight);
  font-size: 12px;
  line-height: 1.67;
}

.modal_card_btn {
  width: 112px;
  height: 44px;
  font-weight: var(--modal-font-weight);
  font-size: 12px;
  line-height: 1.33;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: 1px solid var(--text-color);
  background-color: var(--modal-bg-color);

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 124px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.modal_card_btn:not(:last-child) {
  margin-right: 15px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-right: 14px;
  }

  @media screen and (max-width: 767px) {
    margin-right: 11px;
  }
}

.is-active {
  color: var(--modal-bg-color);
  background-color: var(--active-color);
  outline: none;
}

ul {
  margin-top: 0;
  padding-left: 0;
}

.highlight {
  background-color: var(--active-color);
  color: var(--modal-bg-color);
  border-radius: 5px;
  padding: 1px 7px;
}

.highlight_all {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 7px;
}
