.modal {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  top: 50%;
  left: 50%;
  width: 618px;
  height: 562px;
  background-color: rgb(192, 192, 236);

  box-shadow: var(--box-shadow);
  border-radius: 4px;
  outline: 1px solid red;

  transform: translate(-50%, -50%);
  padding: 40px;

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 568px;
  }

  @media screen and (max-width: 767px) {
    width: 285px;
    height: 800px;
  }
}

.modal-content {
  position: relative;
  background-color: white;
  outline: 1px solid red;
  margin: auto;
  padding: 20px;
  word-wrap: break-word;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-btn__icon {
  width: 10px;
  height: 10px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .close-btn:focus &,
  .close-btn:hover & {
    fill: rgba(255, 255, 255, 0.3);
  }

  @media screen and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }

  @media screen and (min-width: 1444px) {
    width: 20px;
    height: 20px;
  }
}
