.header {
  min-height: 230px;
  color: var(--header-txt-color);
}

.header--home {
  background-image: url(../img/header/mobile/header-bcg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../img/header/mobile/header-bcg-mobilex2.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../img/header/tablet/header-bcg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../img/header/tablet/header-bcg-tabletx2.jpg);
  }
  @media screen and (min-width: 1024px) {
    background-image: url(../img/header/desktop/header-bcg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) and (min-width: 1024px),
    (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url(../img/header/desktop/header-bcg-desktopx2.jpg);
  }
}

.header--library {
  background-image: url(../img/header/mobile/header-lib-bcg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../img/header/mobile/header-lib-bcg-mobilex2.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../img/header/tablet/header-lib-bcg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../img/header/tablet/header-lib-bcg-tabletx2.jpg);
  }
  @media screen and (min-width: 1024px) {
    background-image: url(../img/header/desktop/header-lib-bcg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) and (min-width: 1024px),
    (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url(../img/header/desktop/header-lib-bcg-desktopx2.jpg);
  }
}
#library-trigger {
  display: none;
}
.flex-wrapper--home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 45px;
}

.flex-wrapper--library {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 45px;
}

.nav__list {
  display: flex;
  flex-flow: row nowrap;
}
.nav__link {
  padding: 5px 0px;
  position: relative;
  color: var(--header-txt-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  &:not(:first-child) {
    margin-left: 40px;
  }
}
.nav__link--current {
  &::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--pseudo-el-color);
  }
}
.nav__item {
  &:not(:first-child) {
    margin-left: 40px;
  }
}
.logo__icon {
  width: 24px;
  height: 24px;
}
.app-name {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    display: inline-block;
  }
}
