.header {
  min-height: 230px;
  padding-top: 45px;
  color: var(--header-txt-color);
  background-color: var(--gradient-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 1024px) {
    width: 1024px;
    margin: 0 auto;
  }
}

.header--home {
  background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
    url(../img/header/mobile/header-bcg-mobile.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/mobile/header-bcg-mobilex2.jpg);
  }

  @media screen and (min-width: 321px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/tablet/header-bcg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 321px),
    (min-resolution: 192dpi) and (min-width: 321px),
    (min-resolution: 2dppx) and (min-width: 321px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/tablet/header-bcg-tabletx2.jpg);
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/desktop/header-bcg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 769px),
    (min-resolution: 192dpi) and (min-width: 769px),
    (min-resolution: 2dppx) and (min-width: 769px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/desktop/header-bcg-desktopx2.jpg);
  }
}

.header--library {
  background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
    url(../img/header/mobile/header-lib-bcg-mobile.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/mobile/header-lib-bcg-mobilex2.jpg);
  }

  @media screen and (min-width: 321px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/tablet/header-lib-bcg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 321px),
    (min-resolution: 192dpi) and (min-width: 321px),
    (min-resolution: 2dppx) and (min-width: 321px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/tablet/header-lib-bcg-tabletx2.jpg);
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/desktop/header-lib-bcg-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 769px),
    (min-resolution: 192dpi) and (min-width: 769px),
    (min-resolution: 2dppx) and (min-width: 769px) {
    background-image: linear-gradient(var(--gradient-bg-color), var(--gradient-bg-color)),
      url(../img/header/desktop/header-lib-bcg-desktopx2.jpg);
  }
}

// #library-trigger {
// }

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 45px;
}

.nav__list {
  display: flex;
  flex-flow: row nowrap;
}

.nav__link {
  padding: 5px 0px;
  position: relative;
  color: var(--header-txt-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.nav__link--current {
  &::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--pseudo-el-color);
  }
}

.nav__item {
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.app-name {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    display: inline-block;
    color: var(--header-txt-color);
  }
}

// ==========HOME==========
.search-form {
  position: relative;

  @media screen and (min-width: 768px) {
    text-align: center;
  }
}

.search-form__input {
  width: 100%;
  padding: 4px 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-txt-color);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.5px solid var(--header-txt-color);

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.search-form__input::placeholder {
  color: var(--header-txt-color);
}

.search-form__icon {
  position: absolute;
  top: 0;
  transform: translateX(-14px) translateY(6px);
  cursor: pointer;
}

.search-form__error {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--error-txt-color);

  @media screen and(min-width: 768px) {
    text-align: center;
  }
}

// ==========MY LIBRARY==========
.filter__list {
  display: flex;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}

.filter__btn {
  min-width: 130px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--header-txt-color);
  background-color: transparent;
  border: 1px solid var(--header-txt-color);
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    min-width: 136px;
  }

  &:hover,
  &:focus {
    background-color: var(--active-btn-color);
    border: 1px solid var(--active-btn-color);
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.filter__btn.is-active {
  background-color: var(--active-btn-color);
  border: 1px solid var(--active-btn-color);
  box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}
